.gameboard {
    width: 300px;
    height: 300px;
    background-color: darkblue;
    display: flex;
    flex-wrap: wrap;
}

.stars {
    text-align: center;
    font-size: 2em;
}
.stars .lit {
    color: yellow;
}
