.cell {
  border: 1px solid black;
  box-sizing: border-box;
}

.cell.start.hollow {
  background-color: lightgray;
}

.cell.lastvisited.hollow {
  background-image: url('../../assets/dory.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.cell.end.hollow {
  background-color: darkgreen;
}

.cell.mine.hollow {
  background-color: inherit;
}

.cell.mine {
  background-color: darkred;
}

.cell.visited {
  border-color: darkblue;
  background-image: url('../../assets/bubbles.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.cell.mine.reveal {
  background-color: pink !important;
}
